body {
  background-color: #f5f5f5;
  font-family: 'Arial', sans-serif; /* Improved readability */
  overflow-y: auto; /* Allows scrolling if content overflows */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically */
}

/* Ensure main content is always centered and visible */
.main-container {
  max-height: 100vh;
  overflow-y: auto; /* Allows internal scrolling if necessary */
  padding: 20px; /* Spacing around content */
  margin-top: 20px; /* Spacing from the top */
  width: 100%; /* Use full width */
  max-width: 1200px; /* Limit content width */
  margin-bottom: auto; /* Ensure it doesn't overlap with the footer */
}

.quiz-header {
  margin-bottom: 20px;
  margin-top: 60px;
  pading: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-remaining i,
.refresh-quiz i {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.refresh-quiz i:hover {
  transform: rotate(360deg);
}

.quiz-info,
.filter-form,
.quiz-form {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.quiz-info:hover,
.filter-form:hover,
.quiz-form:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
}

.card-title {
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-text {
  color: #666;
  margin-bottom: 20px;
}

.form-check-label {
  margin-left: 5px;
}

.form-check-input {
  accent-color: #007bff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-secondary {
  border-color: #007bff;
  transition: all 0.2s ease-in-out;
  background-color: #dddeff;
  color: #007bff;
  opacity: 0.7;
}

.btn-outline-secondary:hover {
  background-color: #8a8a8a;
  border-color: #1180a8;
  color: #004691;
  border-radius: 15%;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


@media (max-width: 768px) {
  body {
      padding: 10px; /* Adjust body padding for smaller screens */
  }

  .main-container {
      width: 100%; /* Use full width for smaller screens */
  }

  .navigation-buttons {
      flex-direction: column;
      align-items: stretch;
  }

  .btn {
      margin-top: 10px;
  }
}
