<!DOCTYPE html>  
<html lang="{{ session['lang'] or 'en' }}">
<head>
  <!-- Basic Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Kevin Marville alias kvnbbg on GitHub is the Python developer of this quizz app.">
  <meta name="keywords" content="Garage V. Parrot, Kevin Marville, kvnbbg, Python Developer, Quizz,Quick">
  <meta name="author" content="Kevin Marville">
  <title>Quiz Full Stack</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}" type="image/x-icon">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

  <!-- Bootstrap Bundle with Popper -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

  <!-- Structured Data for Rich Snippets -->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Quizz",
    "name": "Quiz Full Stack",
    "url": "https://github.com/Kvnbbg",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "123 Example Street",
      "addressLocality": "Lyon",
      "postalCode": "69000",
      "addressCountry": "FR"
    },
    "telephone": "+33634160418"
  }
  </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('main.home') }}">
      <img src="{{ url_for('static', filename='/images/logo.png') }}" alt="Logo" style="height: 30px;">
    </a><h1>Quizz App Full Stack</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="{{ url_for('auth.set_language', language='en') }}">🇺🇸 English</a>
        <a class="nav-item nav-link" href="{{ url_for('auth.set_language', language='fr') }}">🇫🇷 Français</a>
        <a class="nav-item nav-link" href="https://learn.codesignal.com/course-paths/14">Practice</a>
        <a class="nav-item nav-link" href="https://app.daily.dev/">News</a>
        {% if not current_user.is_authenticated %}
        <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Login</a>
        {% else %}
        <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
      </div>
    </div>
  </nav>
<!-- Header and Main Content Here -->
<header class="py-5 bg-image-full" style="background-image: url('{{ url_for('static', filename='images/service-example.jpg') }}');">
  <div class="text-center my-5">
    {% if session['lang'] == 'fr' %}
      <h1 class="text-white" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7)">
        Bienvenue sur Quizz App Full Stack 
      </h1>
      <h2 class="text-white-50" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7)">
        Votre app pour apprendre et tester vos connaissances en Full Stack Development ! 
      </h2>
    {% else %}
      <h1 class="text-white" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7)">
        Welcome to Quizz App Full Stack 
      </h1>
      <h2 class="text-white-50" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7)">
        Your app to learn and test your knowledge in Full Stack Development!
      </h2>
    {% endif %}
  </div>
</header>


    <!-- Dynamic content injected here from child templates -->
    <main>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                      <strong>{{ category.title() }}:</strong> {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </div>
          </div>
        </div>
      </section>
      
      {% block content %} {% endblock %}</main>

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Kevin, J MARVILLE 2024</p>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
